.contactme {
  background-color: black;
  color: white;
  background-image: url('./images/starbackground.jpg');
  background-size: contain;
  height: 100%;
}
.contactmeheading {
  padding-top: 20vh;
  margin-left: 5%;
  margin-right: 5%;
  background-color: black;
}
.contactmecontainer {
  display: flex;
  justify-content: center;
  background-color: black;
  margin-left: 15%;
  margin-right: 15%;
  padding-bottom: 10vh;
}
@media (max-width: 700px) {
  .contactmecontainer {
    display: block;
    margin-left: 5%;
    margin-right: 5%;
  }
}
.getintouch {
  padding: 30px 50px;
  width: 60vh;
  margin-bottom: auto;
}
.getintouch h1 {
  font-size: 50px;
  color: rgb(160, 160, 160);
}
.getintouch p {
  padding-top: 40px;
  font-size: 22px;
}
.form {
  background-color: black;
  padding: 20px 50px;
}
.form input {
  background-color: black;
}
.formsection input {
  width: 300px;
  font-size: 15px;
  padding: 10px 0;
  border: 2px solid gray;
  border-radius: 4px;
}
.form label {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}
.formlabel {
  padding-top: 20px;
  padding-bottom: 5px;
}
.submitsection {
  text-align: center;
  margin-top: 30px;
}
.submit {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  font-size: 15px;
  border: 2px solid white;
  padding: 12px 25px;
  cursor: pointer;
}
.submit:hover {
  cursor: pointer;
  background-color: #212121;
  transition: 0.5s;
}
.form textarea {
  background-color: black;
  resize: horizontal;
  max-width: 600px;
  min-width: 300px;
  height: 150px;
  padding: 5px 0;
  border: 2px solid gray;
  border-radius: 4px;
  font-size: 15px;
}
.placeholder {
  display: none;
}
.error{
  color: red;
  background-color: black;
  font-size: 15px;
}
.sent{
  color: rgb(17, 219, 17);
  background-color: black;
  font-size: 15px;
}
@media (max-width: 420px) {
  .getintouch {
    width: auto;
  }
}