.experience {
  background-color: black;
  color: white;
  background-image: url('./images/starbackground.jpg');
  background-position-y: -300px;
  background-size: contain;
}
.experience a:hover {
  cursor: default;
}
.experience iframe {
  border: none;
  padding-right: 20px;
}
hr{
  text-align: center;
  margin: auto;
  width: 72%;
}
.experience-heading {
  text-align: center;
  font-size: 5vh;
  padding-top: 20vh;
  padding-bottom: 5vh;
  background-color: black;
  margin-left: 5%;
  margin-right: 5%;
}

/*parallax*/
.parallax3 {
  height: 300px;
  background-color: black;
}

/*specifics*/
.ubclaunchpad img {
  height: 30vh;
}
.compsci img {
  width: 50vh;
}
.lifeguard img {
  height: 30vh;
}
.alibid img {
  height: 30vh;
}
iframe {
  padding-left: 5vh;
}

@media (max-width: 700px) {
  .ubclaunchpad img {
    height: 25vh;
  }
  .compsci img{
    width: 50vh;
  }
  .lifeguard img {
    height: 25vh;
  }
  .companyprogram p {
    padding-bottom: 5vh;
  }
  iframe {
    height: 40vh;
    width: 50vh;
    order: 2;
  }
  .parallax2 {
    height: 200px;
  }
}