.experience {
  background-color: black;
  color: white;
  background-image: url('./images/starbackground.jpg');
  background-position-y: -130px;
  background-size: contain;
  margin-top: 70px;
}
.experience a:hover {
  cursor: default;
}
.experience iframe {
  border: none;
  padding-right: 20px;
}
hr{
  text-align: center;
  margin: auto;
  width: 72%;
}
.experience-heading {
  text-align: center;
  font-size: 35px;
  padding-top: 80px;
  padding-bottom: 50px;
  background-color: black;
  margin-left: 200px;
  margin-right: 200px;
}

/*parallax*/
.parallax3 {
  height: 300px;
  background-color: black;
}

/*specifics*/
.ubclaunchpad img {
  max-height: 200px;
  max-width: 360px;
}
.compsci img {
  max-height: 200px;
  max-width: 400px;
}
.lifeguard img {
  max-height: 200px;
  max-width: 360px;
}
.alibid img {
  max-height: 200px;
  padding-left: 80px;
  padding-right: 80px;
}
