/*title*/
.introduction {
  background-image: url('./images/backgroundgif.gif');
  background-size: cover;
  background-repeat: no-repeat;
  height: 900px;
}
.gif {
  padding-top: 40vh;
  padding-left: 10%;
}
@media (max-width: 1500px) {
  .gif {
    padding-left: 5%;
  }
}
@media (max-width: 950px) {
  .gif {
    padding-right: 5%;
  }
}
@media (max-width: 700px) {
  .introduction {
    height: 100vh;
    background-position-x: -250px;
  }
  .title {
    font-size: 9vh;
    padding-bottom: 2vh;
  }
  .subtitle {
    font-size: 5vh;
  }
}
@media (max-width: 400px) {
  .title {
    font-size: 7vh;
    padding-bottom: 2vh;
  }
  .subtitle {
    font-size: 3vh;
  }
}
@media (min-width: 700px) {
  .title {
    font-size: 12vh;
    padding-bottom: 3px;
  }
  .subtitle {
    font-size: 8vh;
  }
}
.title {
  background: rgba(0, 0, 0, .8);
  padding-left: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  max-width: 130vh;
}
.title b {
  color: #F8D5BA
}
.subtitle {
  background: rgba(0, 0, 0, .8);
  padding-left: 10px;
  padding-bottom: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  max-width: 130vh;
}
.subtitle b {
  color: #FEC8D8
}

/*skills*/
.skills {
  background-image: url('./images/starbackground.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  white-space: nowrap;
}

.skills-heading {
  font-size: 40px;
  text-align: center;
  padding-top: 60px;
  padding-bottom: 35px;
  margin-left: 40%;
  margin-right: 40%;
  background-color: black;
}

.skills-table, .skills-table2, .skills-table3 {
  text-align: center;
  padding-top: 50px;
  width: 100%;
  margin-bottom: 20px;
}

.skills-table h1, .skills-table2 h1, .skills-table3 h1 {
  text-align: center;
  background-color: black;
  font-size: 25px;
}

.skills-pairs {
  display: flex;
  animation: scroll-left 10s linear infinite;
}

.skill-pair {
  background-color: rgba(0, 0, 0, 0.5); 
}

.skills-table2 .skills-pairs {
  animation: scroll-right 10s linear infinite;
}

.skills-table3 .skills-pairs {
  animation: scroll-left 10s linear infinite;
}

@keyframes scroll-left {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); } /* Move by half to enable smooth transition */
}

@keyframes scroll-right {
  0% { transform: translateX(-50%); }
  100% { transform: translateX(0%); } /* Move by half to enable smooth transition */
}

.skills-pairs:hover {
  animation-play-state: paused;
}

.skill-pair {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 60px;
}

.skill-pair img {
  max-height: 80px;
  padding-top: 20px;
  transition: transform 0.3s;
}

.skill-pair:hover {
  transform: scale(1.2);
}

.skill-pair h3 {
  padding-top: 10px;
}

.lasttable {
  background-image: url('./images/starbackground.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}

@media (max-width: 1440px) {
  
}



/*strengths*/
.strengths {
  background-image: url('./images/starbackground.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}
.iam {
  text-align: center;
  font-size: 7vh;
  font-weight: bold;
  padding: 80px;
  margin-left: 32%;
  margin-right: 32%;
  background-color: black;
}
.strengths-table {
  background-color: black;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 80px;
  display: flex;
}
.strengths-table img {
  height: 20vh;
}
.strengths-table h2 {
  font-size: 4vh;
  padding: 30px 20px
}
.strengths-table p {
  font-size: 2.6vh;
  padding: 0 40px;
}

@media (max-width: 700px) {
  .strengths {
    background-repeat: repeat;
    background-size: contain;
  }
  .strengths-table img {
    height: 15vh;
  }
  .iam {
    margin-left: 15%;
    margin-right: 15%;
    padding: 50px;
    font-size: 6vh;
  }
  .strengths-table {
    display: block;
    padding-bottom: 10vh;
  }
  .learner {
    padding-bottom: 10vh;
  }
  .solver {
    padding-bottom: 10vh;
  }
}

@media (max-width: 400px) {
  .iam {
    font-size: 5vh;
  }
  .strengths-table h2 {
    font-size: 3vh;
  }
  .strengths-table p {
    font-size: 2vh;
  }
}

/*about me*/
.parallax1 {
  height: 300px;
  z-index: -100;
  background-color: black;
}
.about-me {
  background-image: url('./images/starbackground.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 1100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.my-image {
  display:block;
  text-align: center;
  max-width: 65vh;
}
.about-me img {
  height: 75vh;
  padding-bottom: 20px;
  padding-top: 3vh;
}
.about-me-text {
  background-color: black;
  padding-left: 50px;
  padding-top: 10px;
  padding-bottom: 20px;
  max-width: 600px;
}
.about-me-text h1 {
  font-size: 6vh;
}
.about-me-text p {
  padding-top: 20px;
  font-size: 2.6vh;
}
.about-me button {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  font-size: 12px;
  border: none;
  padding: 12px 25px;
  max-width: 150px;
}
.about-me button:hover {
  cursor: pointer;
  color: white;
  background-color: #111;
  transition: 0.5s;
}
@media (max-width: 1440px) {
  .about-me {
    height: 120vh;
  }
}
@media (max-width: 800px) {
  .parallax1 {
    height: 200px;
  }
  .about-me {
    display: block;
    text-align: center;
    height: auto;
    background-repeat: repeat;
    background-size: contain;
  }
  .my-image {
    display: block;
    background-color: black;
    margin-left: 5%;
    margin-right: 5%;
  }
  .my-image img {
    max-width: 400px;
    max-height: 600px;
  }
  .about-me-text {
    padding-top: 5vh;
    padding-left: 0;
    padding-bottom: 5vh;
  }
  .about-me-text h1 {
    font-size: 5vh;
  }
  .about-me-text p {
    font-size: 2.6vh;
  }
}
@media (max-width: 420px) and (min-height:670px) {
  .my-image img {
    max-width: 400px;
    max-height: 500px;
  }
  .about-me-text h1 {
    font-size: 4vh;
  }
  .about-me-text p {
    font-size: 2vh;
  }
}
@media (max-width: 400px) {
  .my-image img {
    max-width: 300px;
    max-height: 400px;
  }
  .about-me-text h1 {
    font-size: 4vh;
  }

}

/*quote*/
.quote {
  background-image: url('./images/starbackground.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 150px;
}
.quote-text {
  background-color: black;
  font-style: italic;
  font-size: 40px;
  padding-top: 40px;
  margin-left: 15%;
  margin-right: 15%;
}
.quote-author {
  background-color: black;
  padding-top: 60px;
  padding-bottom: 20px;
  padding-left: 70vh;
  font-size: 30px;
  margin-left: 15%;
  margin-right: 15%;
}
@media (max-width: 800px) {
  .quote {
    padding-top: 10vh;
  }
  .quote-text {
    padding-bottom: 5vh;
    padding-left: 2vh;
    padding-right: 2vh;
    margin-left: 5%;
    margin-right: 5%;
  }
  .quote-author {
    padding: 0;
  }
}