.my-projects {
  background-color: black;
  color: white;
  background-image: url('./images/starbackground.jpg');
  background-position-y: -130px;
  background-size: cover;
  background-repeat: no-repeat;
}
.my-projects hr {
  text-align: center;
  margin: auto;
  width: 80%;
}
.my-projects-heading {
  text-align: center;
  color: #ADAEB3;
  font-weight: bold;
  font-size: 35px;
  padding-top: 50px;
  background-color: black;
  margin-left: 200px;
  margin-right: 200px;
}

/*project left*/
.project-title-left {
  padding-left: 40px;
}
.project-container-left {
  padding: 50px 0px;
  background-color: black;
  margin-left: 200px;
  margin-right: 200px;
}
.project-content-left {
  display: flex;
  align-items: center;
  justify-content: center;
}
.project-content-left p {
  font-size: 20px;
  max-width: 600px;
}
.project-content-left a {
  padding-left: 80px;
}
.project-content-left a:hover {
  cursor: pointer;
}
.project-content-left img {
  height: 300px;
  background-color: black;
}

/*project right*/
.project-title-right {
  padding-right: 40px;
}
.project-container-right {
  text-align: right;
  padding: 50px 0px;
  background-color: black;
  margin-left: 200px;
  margin-right: 200px;
}
.project-content-right {
  display: flex;
  align-items: center;
  justify-content: center;
}
.project-content-right p {
  font-size: 20px;
  max-width: 600px;
}
.project-content-right a {
  padding-right: 80px;
}
.project-content-right a:hover {
  cursor: pointer;
}
.project-content-right img {
  height: 300px;
  background-color: black;
}