* {
  color: white;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

/*home navbar*/
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  position: fixed;
  top: 0;
  background-color: transparent;
  width: 100%;
  transition: all 250ms ease-in-out;
}

.navbar-fixed {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 50px;
  position: fixed;
  top: 0;
  background-color: black;
  width: 100%;
  transition: all 250ms ease-in;;
  z-index: 1;
}
.logo {
  justify-self: start;
}
.link-list {
  display: grid;
  grid-template-columns: repeat(6, auto);
  grid-gap: 5px;
  list-style: none;
  align-items: center;
  text-align: center;
  justify-content: end;
  text-decoration: none;
}
nav img {
  max-height: 50px;
  background-color: white;
  border-radius: 50px;
}
nav a {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 15px;
  text-decoration: none;
  padding: 0px 20px;
  transition: 0.3s ease-in-out;
}
nav a:hover {
  color: gray;
}
.active {
  text-decoration: underline 5px;
  color: #D9A785
}
.bars {
  color: white;
  font-size: 4vh;
  display: none;
}

nav button {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  font-size: 15px;
  border: none;
  padding: 10px 25px;
  margin-left: 20px;
  max-width: 150px;
}

nav button:hover {
  cursor: pointer;
  color: white;
  background-color: #111;
  transition: 0.5s;
}

@media (max-width: 850px) {
  .navbar-home {
    z-index: 99;
  }
  .link-list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background: rgba(0, 0, 0, .9);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, .37);
    backdrop-filter: blur(4px);
    border-bottom-left-radius: 13px;
    border-bottom-right-radius: 13px;
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: -110%;
    align-items: stretch;
    padding: 80px 0 30px 0;
    margin: 0;
    z-index: -1;
    transition: all 0.3s ease-in-out;
  }
  .link-list.active {
    left: 0%;
    text-decoration: none;
  }
  .link {
    display: block;
    widows: 100%;
    padding: 2rem 0;
    color: #222;
  }
  .bars {
    display: block;
  }
}
