.navbar{
  background-image: url('./images/backgroundgif.gif');
  background-size: cover;
  background-repeat: no-repeat;
  padding: 20px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  position: sticky; 
  top: 0;
}
.navbar-fixed{
  padding: 10px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  position: sticky; 
  top: 0;
}
nav img {
  max-height: 50px;
  background-color: white;
  border-radius: 50px;
}
nav a {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 15px;
  text-decoration: none;
  padding: 0px 20px;
  transition: 0.3s ease-in-out;
}
a:hover {
  color: gray;
}
#home {
  text-decoration: none;
}
