.not-found-container {
  text-align: center;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.not-found-container h2 {
  color: #333333;
}

.not-found-container p {
  color: #666666;
}